<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SecureRedirect" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
            <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$"/>
          </conditions>
          <action type="Redirect" url="https://{C:2}" redirectType="Permanent"/>
        </rule>
        <rule name="HTTPS force" enabled="true" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>